<div class="uk-section uk-container">
    <h2>Accordion</h2>
</div>

<div class="uk-section uk-container">
    <h2>Alerts</h2>
    <uk-alert>This is a default alert</uk-alert>
    <uk-alert [level]="'primary'">This is a primary alert</uk-alert>
    <uk-alert [level]="'success'">This is a success alert</uk-alert>
    <uk-alert [level]="'warning'">This is a warning alert</uk-alert>
    <uk-alert [level]="'danger'">This is a danger alert</uk-alert>
</div>

<div class="uk-section uk-container">
    <h2>Align</h2>
</div>

<div class="uk-section uk-container">
    <h2>Animation</h2>
</div>
